.ad{
	position: relative;

	top: 180px;
	left: 300px;


	}

	.us{
	position: relative;

	top: 140px;
	left: 600px;

	}

	.txtad{
		position: relative;

	top: 180px;
	left: 370px;
	}

	.txtus{
		position: relative;

	top: 140px;
	left: 630px;
	}

